# Whitelist files for inclusion.
/*

# Administrative files for the repo.
!/install.sh
!/LICENSE.txt
!/README.md
!/.gitignore
!/.gitattributes

# Files which are synced.
!/.vim/after/
!/.vim/snippets/
!/.vimrc
!/.zsh/
!/.zshrc
!/.gitconfig
