[submodule "zsh/git-prompt"]
    path = zsh/git-prompt
    url = https://github.com/olivierverdier/zsh-git-prompt.git
    ignore = untracked

[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle
    ignore = untracked
[submodule "vim/bundle/clang_complete"]
	path = vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
    ignore = untracked
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
    ignore = untracked
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
    ignore = untracked
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim
    ignore = untracked
[submodule "vim/bundle/vim-fswitch"]
	path = vim/bundle/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch
    ignore = untracked
[submodule "vim/bundle/vim-wombat"]
	path = vim/bundle/vim-wombat
	url = https://github.com/cschlueter/vim-wombat
    ignore = untracked
